<aside class="right-side" style="margin-right: 20px">
    <section class="content">
    <h1>QUOTES</h1>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                    <div class="sm-st-info">
                        <span>{{allQuoteHeaders.length}}</span>
                        Number of Quotes
                    </div>
                </div>
            </div>
        </div>

        <!-- Main row -->
        <div class="row col-md-8">
        <div class="panel-group" id="accordion" style="padding-left:0; padding-right:0; margin: 0 auto; width: 100%">
            <div class="panel panel-default"  ng-repeat="q in allQuoteHeaders">
              <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" data-target="#{{q.QuoteHeaderId}}">
                <a>
                  <h4 class="panel-title">
                    Quote {{q.QuoteHeaderId}}
                  </h4>
                </a>
              </div>
              <div id="{{q.QuoteHeaderId}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-7 col-xs-7">
                      <dl>
                        <dt>Supplier</dt>
                        <dd>{{q.Supplier}}</dd>
                        <dt>AddressStreet</dt>
                        <dd>{{q.AddressStreet}}</dd>
                        <dt>AddressCity</dt>
                        <dd>{{q.AddressCity}}</dd>
                        <dt>AddressProvince</dt>
                        <dd>{{q.AddressProvince}}</dd>
                        <dt>AddressPostalCode</dt>
                        <dd>{{q.AddressPostalCode}}</dd>
                        <dt>AddressCountry</dt>
                        <dd>{{q.AddressCountry}}</dd>
                      </dl>
                    </div>

                    <div class="col-md-5 col-xs-5">
                      <dl>
                        <dt>Date</dt>
                        <dd>{{q.Date}}</dd>
                        <dt>StartDate</dt>
                        <dd>{{q.StartDate}}</dd>
                        <dt>ExpiryDate</dt>
                        <dd>{{q.ExpiryDate}}</dd>
                      </dl>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-7 col-xs-12">
                      <dl>
                        <dt>Notes:</dt>
                        <dd>{{p.notes}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-5 col-xs-12">
                      <dl>
                        <dt>ReferredBy:</dt>
                        <dd>{{q.ReferredBy}}</dd>
                        <dt>PercentDiscount:</dt>
                        <dd>{{q.PercentDiscount}}%</dd>
                      </dl>

                        <div ng-if="q.IsAccept == 'Y'">
                            <div>
                                <img id="acceptImage" src="http://particularlyme.com/uploads/monthly_2015_12/accept-icon.png.d4ad3a25005358c527b4333b4019d4da.png" />
                                <label>Accepted</label>
                            </div>
                        </div>
                        <div ng-if="q.IsAccept == 'N' ">
                            <div>
                                <img id="acceptImage" src="http://appmuse.com/wp-content/uploads/2010/10/Thumbs-down-icon-150x150.jpg" />
                                <label>Not Accepted</label>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
