<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
<!-- Filter search for projects -->
<script language="javascript" type="text/javascript">
    function filter(element) {
        var value = $(element).val().toLowerCase();
        var condition = $('tr[name="filter"]');

        condition.hide();
        condition.filter(function () {
            return $(this).text().toLowerCase().indexOf(value) > -1;
        }).show();
    }
   
    
    $('[name="dateFrom"]').on("change", function () {
        var dateFrom = new Date($(this).val());

        var conditionDateFrom = $('td[name="tdDateFrom');

        conditionDateFrom.parent().hide();
        conditionDateFrom.filter(function () {
            return dateFrom < new Date(conditionDateFrom.html());
        }).parent().show();
        
    });


    $('[name="dateTo"]').on("change", function () {
        var dateTo = new Date($(this).val());

        var conditionDateTo = $('td[name="tdDateTo');

        conditionDateTo.hide();
        conditionDateTo.filter(function () {
            console.log(conditionDateTo.html());
            return dateTo > new Date(conditionDateTo.html());
        }).append();
    });


</script>
<aside class="right-side">
    <section class="content">

        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                    <div class="sm-st-info">
                        <span>10</span>
                        Upcoming Deadlines
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-violet"><i class="fa fa-envelope-o"></i></span>
                    <div class="sm-st-info">
                        <span>13</span>
                        Invoices
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-blue"><i class="fa fa-dollar"></i></span>
                    <div class="sm-st-info">
                        <span>$100,000</span>
                        Balance
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-green"><i class="fa fa-paperclip"></i></span>
                    <div class="sm-st-info">
                        <span>{{tableProjects.length}}</span>
                        Project(s)
                    </div>
                </div>
            </div>
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Projects
                    </header>
                    <!-- Input search box for projects -->
                    <div class="form-group">
                      <input class="form-control" type="text" onkeyup="filter(this)" placeholder="Search..." />
                    </div>
                        <ul id="myTabs" class="nav nav-tabs">
                            <li role="presentation"><a href="#div_budget_actual" aria-controls="div_budget_actual" role="tab" data-toggle="tab">Budget vs Actual</a></li>
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                                    Categories <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="#div_categories_summary" aria-controls="div_categories_summary" role="tab" data-toggle="tab">Categories Summary</a></li>
                                    <li role="presentation"><a href="#div_categories_details" aria-controls="div_categories_details" role="tab" data-toggle="tab">Categories Details</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                                    Sub-Categories <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="#div_subcategories_summary" aria-controls="div_subcategories_summary" role="tab" data-toggle="tab">SubCategories Summary</a></li>
                                    <li role="presentation"><a href="#div_subcategories_details" aria-controls="div_subcategories_details" role="tab" data-toggle="tab">SubCategories Details</a></li>
                                </ul>
                            </li>
                            <li role="presentation"><a href="#div_activities" aria-controls="div_activities" role="tab" data-toggle="tab">Activities</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="div_budget_actual">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-1">Project</th>
                                        <th class="col-md-1">Budget</th>
                                        <th class="col-md-1">Actual</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="p in tableProjects">
                                        <td>{{ p.ProjectName }}</td>
                                        <td>{{ p.BudgetAmount | currency}}</td>
                                        <td>{{ p.ActualAmount | currency}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="div_categories_summary">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-4">Project</th>
                                        <th class="col-md-2">Category</th>
                                        <th class="col-md-2">Budget</th>
                                        <th class="col-md-2">Actual</th>
                                        <th class="col-md-4">% Completed</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="cs in tableCategories">
                                        <td>{{ cs.ProjectName }}</td>
                                        <td>{{ cs.CategoryName }}</td>
                                        <td>{{ cs.BudgetAmount | currency}}</td>
                                        <td>{{ cs.ActualAmount | currency}}</td>
                                        <td>{{ cs.PercentCompleted }}%</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="div_categories_details">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-2">Project</th>
                                        <th class="col-md-1">Category</th>
                                        <th class="col-md-1">Budget</th>
                                        <th class="col-md-1">Actual</th>
                                        <th class="col-md-1">% Completed</th>
                                        <th class="col-md-1">Part</th>
                                        <th class="col-md-1">Unit Price</th>
                                        <th class="col-md-2">Supplier</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="cd in tableCategories">
                                        <td>{{ cd.ProjectName }}</td>
                                        <td>{{ cd.CategoryName }}</td>
                                        <td>{{ cd.BudgetAmount | currency}}</td>
                                        <td>{{ cd.ActualAmount | currency}}</td>
                                        <td>{{ cd.PercentCompleted }}%</td>
                                        <td>{{ cd.PartDescription }}</td>
                                        <td>{{ cd.PartUnitPrice | currency}}</td>
                                        <td>{{ cd.SupplierName }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="div_subcategories_summary">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-3">Project</th>
                                        <th class="col-md-2">Category</th>
                                        <th class="col-md-2">SubCategory</th>
                                        <th class="col-md-2">Budget</th>
                                        <th class="col-md-2">Actual</th>
                                        <th class="col-md-3">% Completed</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="scs in tableSubCategories">
                                        <td>{{ scs.ProjectName }}</td>
                                        <td>{{ scs.CategoryName }}</td>
                                        <td>{{ scs.SubCategoryName }}</td>
                                        <td>{{ scs.BudgetAmount | currency}}</td>
                                        <td>{{ scs.ActualAmount | currency}}</td>
                                        <td>{{ scs.PercentCompleted }}%</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="div_subcategories_details">
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-2">Project</th>
                                        <th class="col-md-1">Category</th>
                                        <th class="col-md-1">SubCategory</th>
                                        <th class="col-md-2">Part</th>
                                        <th class="col-md-1">% Completed</th>
                                        <th class="col-md-1">Unit Price</th>
                                        <th class="col-md-1">% Discount</th>
                                        <th class="col-md-2">Supplier</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="scd in tableSubCategories">
                                        <td>{{ scd.ProjectName }}</td>
                                        <td>{{ scd.CategoryName }}</td>
                                        <td>{{ scd.SubCategoryName }}</td>
                                        <td>{{ scd.PartDescription }}</td>
                                        <td>{{ scd.PercentCompleted }}%</td>
                                        <td>{{ scd.PartUnitPrice | currency}}</td>
                                        <td>{{ scd.PercentCompleted }}%</td>
                                        <td>{{ scd.SupplierName }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="div_activities">
                                <div class="form-group">
                                    Date From: <input name="dateFrom" type="date" value="2016-01-01" /> |
                                    Date To: <input name="dateTo" type="date" value="2017-01-01" />
                                </div>
                                <table class="table table-hover">
                                    <tr>
                                        <th class="col-md-3">Project</th>
                                        <th class="col-md-2">Part</th>
                                        <th class="col-md-2">Area</th>
                                        <th class="col-md-2">Start</th>
                                        <th class="col-md-2">End</th>
                                        <th class="col-md-3">Supplier</th>
                                    </tr>
                                    <tr name="filter" ng-repeat="a in tableActivities">
                                        <td>{{ a.ProjectName }}</td>
                                        <td>{{ a.PartDescription }}</td>
                                        <td>{{ a.AreaRoom }}</td>
                                        <td name="tdDateFrom">{{ a.StartDate | date:'longDate'}}</td>
                                        <td name="tdDateTo">{{ a.ExpiryDate | date:'longDate'}}</td>
                                        <td>{{ a.Supplier }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

</section>
            </div><!--end project list -->
            

        </div><!-- end main row -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->
